http://localhost {
    handle /api/* {
        reverse_proxy api:8000
    }

    handle {
        reverse_proxy mini-app:80
    }

    log {
        output stdout
        format filter {
            wrap json
            fields {
                request>headers delete
                resp_headers delete
            }
        }
    }
}
